<header>
	<nav class="navbar navbar-expand-lg sticky-top navbar-light bg-primary">

		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navMenu" aria-controls="navMenu" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<a class="navbar-brand" href="/">Tim Lamb</a>

		<div class="collapse navbar-collapse" id="navMenu">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link" href="/">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/about.html">About</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/projects.html">Project Galary</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/contact.html">Contact Me</a>
				</li>
			</ul>
			<form class="form-inline my-2 my-lg-0">
				<input class="from-control mr-sm-2" type="search" placeholder="Search" aria-labe="Search">
				<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
			</form>
		</div>
	</nav>
</header>
